.go-top {
  width: 100%;
  text-align: center;
  padding-top: 55px;

  &__button {
    font-family: $font;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    border: none;
    background: none;
    cursor: pointer;

    &:before {
      content: '//';
      margin-right: 15px;
    }

    &:after {
      content: '\\\\';
      margin-left: 15px;
    }
  }
}
