.nav {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;

  &__logo {
    height: 100%;
  }

  &__select {
    background: none;
    border: none;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
  }
}
